<div style=" display: flex; justify-content: center; align-self: center;">
                    <form action="https://formspree.io/f/mwkzbzpp"  method="POST" target="_blank" style="width: 50% ; ">
                                        <!-- <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p> -->
                                        <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
                                        <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>
                                        <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
                                        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
                                        <p>
                                          <button class="w3-button w3-light-grey w3-padding-large"  type="submit" (click)="addToCart()"  >
                                            <i class="fa fa-paper-plane"></i> SEND MESSAGE
                                          </button>
                                        </p>
                                      </form>
                    
</div>
